# Python 102 - 2022.11.11 - Skills Test - without Solutions

## Skills Test

#### Time:  30 minutes

#### Contents
-  Shorter exercises (3 pts x 5)  = 15
-  Longer exercises (12 pts x 5) = 60

#### Total points: 75

#### Passing Grade: 60% (45 of 75 pts)

## Shorter exercises

#### 1. define a function

- define a function add() which accepts two parameters, a and b, and outputs the sum, a+b
- you can output using print() function or return 
- call the function to show that it works

In [15]:
add(5,6)

11

#### 2. sort a list

- consider the following list, number_list = [1,1,6,2,7,29]
- sort the following list in descending order (from largest to smallest)
- call the list to show it is sorted

In [24]:
number_list = [1,1,6,2,7,29]

In [26]:
number_list

[29, 7, 6, 2, 1, 1]

#### 3. search for larger numbers

- consider the following list, number_list = [1,1,6,2,7,29]
- use a list comprehension to select numbers larger than 5, and save this as a new list
- call the new list to show what it contains

In [27]:
number_list = [1,1,6,2,7,29]

In [28]:
big_number_list = []

In [30]:
big_number_list

[6, 7, 29]

#### 4. search for words containing substring

- consider the following list, word_list = ["apple","banana","pineapple","pear","snapple"]
- use a list comprehension to select words containing the substring, "apple", and save this as a new list
- call the new list to show what it contains

In [31]:
word_list = ["apple","banana","pineapple","pear","snapple"]

In [32]:
apple_list = []

In [34]:
apple_list

['apple', 'pineapple', 'snapple']

#### 5. create a class

- create a class, MyClass
- include the attributes:
 - firstname = "Joe"
 - lastname = "Biden"
 - age = 101
- instantiate the class and call each of the three attributes to show their values

In [74]:
myclass = MyClass()

In [75]:
myclass.firstname

'Joe'

In [76]:
myclass.lastname

'Biden'

In [77]:
myclass.age

101

## Longer exercises

#### 6. create a Calculator class

1. create a class Calculator
2. the class should contain four functions:
 - add()
 - substract()
 - multiply()
 - divide()
3. each function should:
 - accept two numbers
 - perform the basic operation (add, subtract, multiply divide)
 - and print() the output
4. instantiate the class and call each function once to show that it works

In [36]:
c = Calculator()

In [37]:
c.add(5,6)

11

In [38]:
c.subtract(5,6)

-1

In [39]:
c.multiply(5,6)

30

In [40]:
c.divide(5,6)

0.8333333333333334

#### 7. sort by multiple fields

1. consider the following list, id_list = [["Joe",39],["Alma",39],["Frank",38],["Alex",38]]
2. use the lambda function and key parameter in sort() to sort the following list according to two criteria
 - first by age, ascending (from smallest to largest)
 - second by name, alphatbetically
3. call the list to show it is sorted

In [41]:
id_list = [["Joe",39],["Alma",39],["Frank",38],["Alex",38]]

In [42]:
id_list

[['Joe', 39], ['Alma', 39], ['Frank', 38], ['Alex', 38]]

In [45]:
id_list

[['Alex', 38], ['Frank', 38], ['Alma', 39], ['Joe', 39]]

#### 8. search a list by multiple fields

1. consider the following list, id_list = [["Joe",39],["Alma",39],["Frank",38],["Alex",38]]
2. use a list comprehension to select items by the following two criteria
 - age < 39
 - names that begin with A
3. call the list to show it is sorted

In [46]:
id_list = [["Joe",39],["Alma",39],["Frank",38],["Alex",38]]

In [50]:
id_list

[['Joe', 39], ['Alma', 39], ['Frank', 38], ['Alex', 38]]

In [52]:
new_id_list

[['Alex', 38]]

####  9. create a UserAccount class

1. create a class UserAccount

2. include the dictionary, Accounts, where
 - key is user ID
 - value is [firstname,lastname,account_balance]
 
3. create two functions:
 - AddUser(userid,firstname,lastname,account_balance) - which adds a user to Accounts
 - UpdateBalance(userid,new_balance) - which replaces the old balance with a new balance
 
4. call the AddUser function to add a user having the following info
  - id = "009"
  - firstname = "Joe"
  - lastname = "Biden"
  - account_balance = 1000
  
5. call the UpdateBalance function to update Joe Biden's account_balance from 1000 to 2000
  
6. call Accounts to show that you have updated it

In [53]:
Accounts = {"001":["Alex","Frasier",105],"003":["Sally","Ride",965]}

In [66]:
ua = UserAccount()

In [67]:
ua.Accounts

{'001': ['Alex', 'Frasier', 105], '003': ['Sally', 'Ride', 965]}

In [68]:
ua.AddUser("009","Joe","Biden",1000)

In [69]:
ua.Accounts

{'001': ['Alex', 'Frasier', 105],
 '003': ['Sally', 'Ride', 965],
 '009': ['Joe', 'Biden', 1000]}

In [70]:
ua.UpdateBalance("009",2000)

In [71]:
ua.Accounts

{'001': ['Alex', 'Frasier', 105],
 '003': ['Sally', 'Ride', 965],
 '009': ['Joe', 'Biden', 2000]}

####  10. create a class, MyClass

1. consider the class you created in Exercise 5

2. create an __init__ function which prompts the user for their firstname, lastname, and age

3. add the function, MyName, which concatenates firstname and lastname into the following sentence, and then prints() it.
 - "My name is Joe Biden."

4. add the function, MyAge, which print()s your age 
 - reports the user's age
  
5. call the class, input your firstname, lastname and age, and then call MyName and MyAge to show that they work