# Python 102 - 2022.11.11 - Skills Test - with Solutions

## Skills Test

#### Time:  30 minutes

#### Contents
-  Shorter exercises (3 pts x 5)  = 15
-  Longer exercises (12 pts x 5) = 60

#### Total points: 75

#### Passing Grade: 60% (45 of 75 pts)

## Shorter exercises

#### 1. define a function

- define a function substract() which accepts two parameters, a and b, and outputs their difference
- you can output using print() function or return 
- call the function to show that it works

In [1]:
def subtract(a,b):
    print(a-b)

In [2]:
subtract(5,6)

-1

#### 2. sort a list

- consider the following list, color_list = ["red","blue","green","yellow"]
- sort the following list in alphabetical order (from A to Z)
- call the list to show it is sorted

In [12]:
color_list = ["red","blue","green","yellow"]

In [15]:
color_list.sort(reverse=False)

In [16]:
color_list

['blue', 'green', 'red', 'yellow']

#### 3. use a list comprehension to search for cold colors in color_list 

- consider your list in #2, color_list = ["red","blue","green","yellow"]
- and a list of cold colors, cold_colors = ["blue","green","purple"]
- use a list comprehension to the cold colors in color_list and save this as a new list: my_cold_colors
- call the new list to show what it contains

In [18]:
color_list = ["red","blue","green","yellow"]
cold_colors = ["blue","green","purple"]

In [21]:
my_cold_colors = [color for color in color_list if color in cold_colors]

In [22]:
my_cold_colors

['blue', 'green']

#### 4. search for words containing a substring

- consider the following list, fruit_list = ["apple","banana","pineapple","pear","snapple"]
- use a list comprehension to select words containing the substring, "apple", and save this as a new list
- call the new list to show what it contains

In [23]:
fruit_list = ["apple","banana","pineapple","pear","snapple"]

In [24]:
apple_list = [w for w in word_list if "apple" in w]

In [25]:
apple_list

['apple', 'pineapple', 'snapple']

#### 5. create a class

- create a class, MyClass
- include the attributes:
 - firstname = "Joe"
 - lastname = "Biden"
 - age = 101
- instantiate the class and call each of the three attributes to show their values

In [26]:
class MyClass:
    firstname = "Joe"
    lastname = "Biden"
    age = 101

In [27]:
myclass = MyClass()

In [28]:
myclass.firstname

'Joe'

In [29]:
myclass.lastname

'Biden'

In [30]:
myclass.age

101

## Longer exercises

#### 6. create a Calculator class

1. create a class Calculator
2. the class should contain four functions:
 - add()
 - substract()
 - multiply()
 - divide()
3. each function should:
 - accept two numbers
 - perform the basic operation (add, subtract, multiply divide)
 - and print() the output
4. instantiate the class and call each function once to show that it works

In [31]:
class Calculator():
    
    def add(self,a,b):
        print(a+b)

    def subtract(self,a,b):
        print(a-b)

    def multiply(self,a,b):
        print(a*b)

    def divide(self,a,b):
        print(a/b)

In [32]:
c = Calculator()

In [33]:
c.add(5,6)

11

In [34]:
c.subtract(5,6)

-1

In [35]:
c.multiply(5,6)

30

In [36]:
c.divide(5,6)

0.8333333333333334

#### 7. sort by multiple fields

1. consider the following list, friend_list = [[20,"Alua"],[21,"Dana"],[19,"Aizhan"],[19,"Firai"]]
2. use the lambda function and key parameter in sort() to sort the following list according to two criteria
 - first by age, descending (from oldest to youngest)
 - second by name, alphabetically (from A to Z)
3. call the list to show it is sorted

In [52]:
friend_list = [[20,"Alua"],[21,"Dana"],[19,"Aizhan"],[19,"Firai"]]

In [53]:
friend_list

[[20, 'Alua'], [21, 'Dana'], [19, 'Aizhan'], [19, 'Firai']]

In [54]:
friend_list.sort(key=lambda x: (-x[0],x[1]))

In [55]:
friend_list

[[21, 'Dana'], [20, 'Alua'], [19, 'Aizhan'], [19, 'Firai']]

#### 8. search a list by multiple fields

1. consider the following list, id_list = [["Joe",39],["Alma",39],["Frank",38],["Alex",38]]
2. use a list comprehension to select items by the following two criteria
 - age > 19
 - names that begin with A
3. call the list to show it is sorted

In [58]:
friend_list = [[20,"Alua"],[21,"Dana"],[19,"Aizhan"],[19,"Firai"]]

In [59]:
friend_list

[[20, 'Alua'], [21, 'Dana'], [19, 'Aizhan'], [19, 'Firai']]

In [61]:
new_friend_list = [f for f in friend_list if f[0]>19 and f[1][0] == "A"]

In [63]:
new_friend_list

[[20, 'Alua']]

####  9. create a Menu class

1. create a class Menu

2. include the dictionary, Beverages, where
 - key is beverage_name
 - value is [price,bool value indicating whether beverage contains coffee]


3. create two functions:
 - AddBeverage(beverage_name,price,contains_coffee) - which adds a new beverage to Menu
 - UpdateBeveragePrice(beverage_name,new_price) - which replaces the old price with a new price


4. call the AddBeverage function to add a beverage having the following info
  - beverage_name = "green tea"
  - price = 600
  - contains_coffee = False
 
5. call the UpdateBalance function to update Joe Biden's account_balance from 1000 to 2000
  
6. call Accounts to show that you have updated it

In [64]:
Beverages = {"flat white":[1000,True],"latte":[1100,True],"black tea":[500,False]}

In [78]:
class Menu:
    
    Beverages = {"flat white":[1000,True],"latte":[1100,True],"black tea":[500,False]}

    def AddBeverage(self,beverage_name,price,contains_coffee):
        self.Beverages[beverage_name]=[price,contains_coffee]
        
    def UpdateBeveragePrice(self,beverage_name,new_price):
        self.Beverages[beverage_name][1] = new_price

In [79]:
m = Menu()

In [80]:
m.Beverages

{'flat white': [1000, True], 'latte': [1100, True], 'black tea': [500, False]}

In [81]:
m.AddBeverage("green tea",500,False)

In [82]:
m.Beverages

{'flat white': [1000, True],
 'latte': [1100, True],
 'black tea': [500, False],
 'green tea': [500, False]}

In [83]:
m.UpdateBeveragePrice("latte",1500)

In [84]:
m.Beverages

{'flat white': [1000, True],
 'latte': [1100, 1500],
 'black tea': [500, False],
 'green tea': [500, False]}

####  10. create a class, MyClass

1. consider the class you created in Exercise 5

2. create an __init__ function which:
- prompts the user for their first name, last name, and age
- concatenates the first name,  last name and age into the following sentence, and then prints() it.
 - for example: "My name is Taylor Swift and I am 33 years old."
  
5. call the class, input your firstname, lastname and age to show that it works

In [93]:
class MyClass:
    
    firstname = "Joe"
    lastname = "Biden"
    age = 101
    
    def __init__(self,my_first_name,my_last_name,my_age):
        self.firstname=my_first_name
        self.lastname=my_last_name
        self.age=my_age
        print("My name is",self.firstname,self.lastname,"and I am",self.age,"years old.")

In [94]:
myclass = MyClass("Taylor","Swift",33)

My name is Taylor Swift and I am 33 years old.