In [19]:
# step 1: read file from system folder

import os

In [20]:
filenames = os.listdir()
filenames

['.ipynb_checkpoints', 'big cities.ipynb', 'data1']

In [21]:
filenames = os.listdir("data1")
filenames

['Bangalore.csv',
 'Bangkok.csv',
 'Baoding.csv',
 'Beijing.csv',
 'Buenos Aires.csv',
 'Cairo.csv',
 'Chengdu.csv',
 'Chennai.csv',
 'Delhi.csv',
 'Dhaka.csv',
 'Guangzhou.csv',
 'Ho Chi Minh City.csv',
 'Istanbul.csv',
 'Jakarta.csv',
 'Karachi.csv',
 'Kinshasa.csv',
 'Kolkata.csv',
 'Lagos.csv',
 'Lahore.csv',
 'Linyi.csv',
 'London.csv',
 'Los Angeles.csv',
 'Manila.csv',
 'Mexico City.csv',
 'Moscow.csv',
 'Mumbai.csv',
 'Nanyang.csv',
 'New York.csv',
 'Osaka.csv',
 'Paris.csv',
 'Rio de Janeiro.csv',
 'Sao Paulo.csv',
 'Seoul.csv',
 'Shanghai.csv',
 'Shenzhen.csv',
 'Shijiazhuang.csv',
 'Tehran.csv',
 'Tianjin.csv',
 'Tokyo.csv',
 'Zhengzhou.csv']

In [22]:
import pandas as pd
column_names = ["city","city_ascii","lat","lng","country","iso2","iso3","admin_name","capital","population","id"]
bigdat = pd.DataFrame(columns = column_names)
bigdat

Empty DataFrame
Columns: [city, city_ascii, lat, lng, country, iso2, iso3, admin_name, capital, population, id]
Index: []

In [24]:
for city in filenames:
    
    # open each file
    f = open("data1/"+city,encoding="utf-8")
    
    # read the first line of data as a string
    dat = f.readline()
    print(dat)
    
    # convert string to a list, and then to a Series
    to_list = dat.split(",")
    to_series = pd.Series(to_list, index = bigdat.columns)
    
    # ERROR # of list items = 12, # column items = 11
    
    # append series to dataframe
    bigdat = bigdat.append(to_series, ignore_index=True)

Bangalore,Bangalore,12.9791,77.5913,India,IN,IND,Karnātaka,admin,13999000.0,1356410365
Bangkok,Bangkok,13.75,100.5167,Thailand,TH,THA,Krung Thep Maha Nakhon,primary,17573000.0,1764068610
Baoding,Baoding,38.8671,115.4845,China,CN,CHN,Hebei,nan,11860000.0,1156256829
Beijing,Beijing,39.904,116.4075,China,CN,CHN,Beijing,primary,19437000.0,1156228865
Buenos Aires,Buenos Aires,-34.5997,-58.3819,Argentina,AR,ARG,Buenos Aires, Ciudad Autónoma de,primary,16216000.0,1032717330

ValueError: Length of passed values is 12, index implies 11.

In [16]:
for city in filenames:
    f = open("data1/"+city,encoding="utf-8")
    dat = f.readline()
    print(dat)
    to_list = dat.split(",")
    print(to_list)
    to_series = pd.Series(to_list, index = bigdat.columns)
    print(to_series)
    #df = df.append(a_series, ignore_index=True)

Bangalore,Bangalore,12.9791,77.5913,India,IN,IND,Karnātaka,admin,13999000.0,1356410365
['Bangalore', 'Bangalore', '12.9791', '77.5913', 'India', 'IN', 'IND', 'Karnātaka', 'admin', '13999000.0', '1356410365']
city           Bangalore
city_ascii     Bangalore
lat              12.9791
lng              77.5913
country            India
iso2                  IN
iso3                 IND
admin_name     Karnātaka
capital            admin
population    13999000.0
id            1356410365
dtype: object
Bangkok,Bangkok,13.75,100.5167,Thailand,TH,THA,Krung Thep Maha Nakhon,primary,17573000.0,1764068610
['Bangkok', 'Bangkok', '13.75', '100.5167', 'Thailand', 'TH', 'THA', 'Krung Thep Maha Nakhon', 'primary', '17573000.0', '1764068610']
city                         Bangkok
city_ascii                   Bangkok
lat                            13.75
lng                         100.5167
country                     Thailand
iso2                              TH
iso3                             THA
admin_name    Krung Thep Maha Nakhon
capital                      primary
population                17573000.0
id                        1764068610
dtype: object
Baoding,Baoding,38.8671,115.4845,China,CN,CHN,Hebei,nan,11860000.0,1156256829
['Baoding', 'Baoding', '38.8671', '115.4845', 'China', 'CN', 'CHN', 'Hebei', 'nan', '11860000.0', '1156256829']
city             Baoding
city_ascii       Baoding
lat              38.8671
lng             115.4845
country            China
iso2                  CN
iso3                 CHN
admin_name         Hebei
capital              nan
population    11860000.0
id            1156256829
dtype: object
Beijing,Beijing,39.904,116.4075,China,CN,CHN,Beijing,primary,19437000.0,1156228865
['Beijing', 'Beijing', '39.904', '116.4075', 'China', 'CN', 'CHN', 'Beijing', 'primary', '19437000.0', '1156228865']
city             Beijing
city_ascii       Beijing
lat               39.904
lng             116.4075
country            China
iso2                  CN
iso3                 CHN
admin_name       Beijing
capital          primary
population    19437000.0
id            1156228865
dtype: object
Buenos Aires,Buenos Aires,-34.5997,-58.3819,Argentina,AR,ARG,Buenos Aires, Ciudad Autónoma de,primary,16216000.0,1032717330
['Buenos Aires', 'Buenos Aires', '-34.5997', '-58.3819', 'Argentina', 'AR', 'ARG', 'Buenos Aires', ' Ciudad Autónoma de', 'primary', '16216000.0', '1032717330']

ValueError: Length of passed values is 12, index implies 11.